
html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 16px; font-size: 1.6rem;
	letter-spacing: 0.07em;
	line-height: 1.5;
	font-weight: 400;
	font-family: "adobe-caslon-pro", "proxima-nova", Arial, sans-serif;
}

::-moz-selection {
    background: #ea8a31;
    text-shadow: none;
}

::selection {
    background: #ea8a31;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ===================
    ALL: 
   =================== */
   
.content-wrapper {
	position: relative;
	max-width: 1100px;
	margin-left: 0px;
	background-color: #fff;
	}

.header-wrapper, .main-wrapper, .first-footer-wrapper, .second-footer-wrapper{
	padding-left: 50px; /* width of logo + 16px */
	padding-top: 20px;
	padding-right: 20px;
}

.header-wrapper {
	background-color: #F9CD4E; /* Gold */
	border-bottom: 4px solid #EAA940; /* Burnt */
}

.first-footer-wrapper{
	background-color: #F9CD4E; /* Gold */
	border-top: 4px solid #EAA940; /* Burnt */
	padding: 0px; /* Reset to keep map against right */
}

.second-footer-wrapper{
	background-color: #EAA940; /* Gold */
	padding: 20px; 
}
	
.logo {
	position: absolute;
	top: 0;
	left: 0;	
	width: 34px;
	background: url(/images/logo.svg);
	text-indent: -9999px;
	-webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
			box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
}

.main-wrapper {
	padding-bottom: 20px;
}

.main-content {
	position: relative;
}

.main-content:after {
	content: " ";
	position: absolute;
	top: 0;
	left: -25px;
	bottom: 0;
	border-left: 2px solid #EAA940;
}

.main-nav {
	margin-left: -8px; /* Move to the left the amount of left padding on the li*/
	clear: both;
	margin-top: 20px;
}

.main-nav a{
	font-size: 18px; font-size: 1.8rem;
}

.main-nav ul li{
	display: block;
	margin-top: 4px;
	padding: 4px 0px 2px 8px;
	width: 100%;
}

.main-nav li:hover{
	color: #97411B;
	background-color: #EAA940;
}

.title {
    color: white;
}

.main aside {
	display: none;
	color: white;
	background: #830B14; /* Brick */
}

.one-column {
	width: 100%;
	text-align: center;
}
	
.footer-copyright {
	padding: 10px 0px;
	clear: both;
}

.footer-nav {
	background-color: #EAA940; /* Burnt */
	clear: both;
}

.footer-logo {
	padding-top: 1%;
}

.copyright {
	color: #fff;
	font-size: 12px; font-size: .8em;
	padding-top: 16px;
}

/* ==============
    Navigation
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
	display: inline-block; /* Inline items can't have a height. Set to inline-block */ 
	margin: 0;
	line-height: 18px;
}

nav a {
    text-align: left;
	font-family: proxima-nova; 
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
    font-weight: bold;
    color: #830B14; /*Brick*/	
}

nav a:hover,
nav a:visited {
	color: #830B14; /*Brick*/	
}

nav a:hover {
    text-decoration: none;
}

.bottom-contact {
	display: inline-block;
	text-align: center;
	font-size: 20px; font-size: 2.0rem;
	line-height: 1rem;
	margin: 18px 0px;
}

.bottom-contact a{
	margin-right: 8px;
	position: relative;
	font-family: 'proxima-nova';
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.bottom-contact a:before {
	content: "";
	border-right: 1px solid #000;
	position: absolute;
	height: 50%;
	top: 25%;
	right: -8px;
}

.address {
	line-height: 18px; line-height: 1.8rem;
	font-size: 15px; font-size: 1.5rem;
	display: block;
	margin-bottom: 30px;
	
}

.hours {
	font-size: 15px; font-size: 1.5rem;
	line-height: 18px; line-height: 1.8rem;
}

.hours span{
	display: block;
	line-height: 18px; line-height: 1.8em;
	font-family: 'proxima-nova';
	font-size: 18px; font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-bottom: 4px;
}

.map-canvas {
	position: relative;
	height: 260px;
	margin-top: 12px;
	background: url(/images/map.png) center center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	border-left: 1px solid #EAA940; /* Burnt */
	border-top: 1px solid #EAA940; /* Burnt */
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	.map-canvas {
		background: url(/images/map@2x.png) center center no-repeat;
		background-size: 600px 260px;
	}

}


.marker{
	position: absolute;
	height: 48px;
	width: 48px;
	background: url(/images/marker.png) top left no-repeat;
	background-size: 48px 48px;
	left: 43%;
	top: 39%;
}

.footer-main-nav a{
	font-size: 16px; font-size: 1em;
}

.footer-second-nav a{
	font-size: 13px; font-size: .8em;
}

.footer-main-nav ul, .footer-second-nav  ul{
	text-align: center;
	display: block;
}

.footer-main-nav ul li, .footer-second-nav  ul li{
	display: inline-block;
	padding-left: 4px;
}
	
	.footer-main-nav li:first-child, .footer-second-nav li:first-child{
		padding-left: 0px;
	}

.byline {
	font-size: 13px; font-size: 1.3rem;
	line-height: 17px;
	letter-spacing: 0.1em;
	margin-bottom: 6px;
	border-bottom: 2px solid #EAA940; /* Burnt */
}

	.byline a {
		text-transform: uppercase;
		font-family: 'proxima nova';
		display: block;
	}

.top-nav a{
	font-size: 14px; font-size: 1.4rem;
	line-height: 0px;
}
	
.top-nav div{
	display: inline-block; /* Inline items can't have a height. Set to inline-block */ 
	}
	
	.top-nav img {
		height: 18px;
		padding-left: 10px;
	}

.top-contact {
	position: relative;
	padding-top: 2px;
	padding-left: 0px;
}

.top-contact a:after {
	content: "";
	border-right: 2px solid #EAA940;
	position: absolute;
	height: 70%;
	top: 20%;
	right: -6px;	
}

.top-nav a:hover {
    text-decoration: none;
	color: #97411B;
	border: none;
}

.slideshow {
	/* Inject background image in HTML */
	background-size: cover;	
	background-position: center center;
	height: 260px;
	border-bottom: 4px solid #EAA940; /* Burnt */
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4) inset;
}

.ie7 .title {
padding-top: 20px;
}


/* ====================
   $Links
   ==================== */


a, a:visited  {
  color: #830B14;
  text-decoration: none;
  }
	
a:hover {
  color: #830B14;
  }


 
/* ====================
   Media Queries
   ==================== */
  


/* ========================================================================
    $480 Small Screen & Landscape
   ======================================================================== */
 @media only screen and (min-width: 480px) {
 
	.header-wrapper, .main-wrapper{
		padding-left: 60px; /* width of logo + 16px */
		padding-right: 40px;
	}

	.main-nav ul li{
		width: auto; /* reset */
		display: inline-block;	
	} 
	
	.logo {
		height: 349.94px;
		width: 44px;
	}
	
}



/* ========================================================================
    $600 Small Screen & Landscape
   ======================================================================== */
@media only screen and (min-width: 600px) {
   
   
   .content-wrapper {
		background-color: #fff;
	}
   
	.header-wrapper, .main-wrapper, .first-footer-wrapper, .second-footer-wrapper {
		padding-left: 64px; /* Move right width of logo + 20px */
	}
	
	.main-wrapper {
		padding-right: 30px
	}
	
	.byline {
		float: left;
		border: none;
	}
	
	.top-nav {
		float: right;
	}
	
		.main-nav li:first-child{
			margin: 0px; /* Reset */		
		}
	
	.slideshow {
		height: 360px;
	}
	
	.one-column {
		float: left;
		width: 50%;
		text-align: left;
	}
	
	.logo {
		height: 349.94px;
		width: 44px;
	}
	
	.footer-main-nav ul, .footer-second-nav  ul{
		text-align: left;
	}
   
    .oldie nav a {
        margin: 0 0.7%;
    }
	
	.footer-main-nav, .footer-second-nav, .footer-details {
		padding-left: 0px;
	}
	
	.footer-logo {
		float: right;
	}

	.map-canvas {
		margin-top: 0px; /* Reset */
		border-top: none;
	}	
	
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 

		.map-canvas {
			background: url(/images/map@2x.png) center center no-repeat;
			background-size: 600px 260px;
		}

	}
	
}

/* ========================================================================
    $768 Large Screen
   ======================================================================== */
@media only screen and (min-width: 768px) {


	.header-wrapper {
		padding-left: 90px; /* Move right width of logo + 30px */
	}

	.logo {
		height: 475.862px;
		width: 60px;
	}
	
	.byline {
		width: auto;
		clear: none;
	}
	
	.main-nav {
		clear: both;
	}
	
		@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 

		.map-canvas {
			background: url(/images/map@2x.png) center center no-repeat;
			background-size: 600px 260px;
		}
	}
	
	.main aside {
		display: block;
	}
	
		
/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main-content article {
        float: left;
        width: 65%;
    }

    .main-content  aside {
        float: right;
        width: 28%;
    }
	
	.main-content  img {
		width: 100%
	}
}

@media only screen and (min-width: 1100px) {

/* ===============
    Maximal Width
   =============== */
	
	body {
		background: url(/images/pattern.png) top left rgb(62,61,70); /* Initiate pattern */
	}

	.header-wrapper {
		padding-left: 49px; /* Reset to base padding */
	}
	
	.logo {
		left: -45px;  /* move 3/4 logo width to the left */
	}
	
	.page-wrapper {
		max-width: 1100px;
		margin: 0 auto;
	}

	.content-wrapper {
		margin-left: 45px;
		box-shadow:
			0 0 4px rgb(22,21,20),
			10px 0 50px 50px rgb(62,61,70); /* Initiate shadow */
	}
   
   	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 

		.map-canvas {
			background: url(/images/map@2x.png) center center no-repeat;
			background-size: 600px 260px;
		}

	}
   
   
}

/* ==========================================================================
   Type
   ========================================================================== */


p {font-family: "adobe-caslon-pro";}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #CE7F2B; /* Orange */
}
  
h1 { font-size: 40px; font-size: 4.0rem; line-height: 1.1;  letter-spacing: -.1rem;}
h2 { font-size: 26px; font-size: 2.6rem; line-height: 1; letter-spacing: .1rem; }
h3 { font-size: 20px; font-size: 2.0rem; line-height: 1;  letter-spacing: .1rem; }
h4 { font-size: 16px; font-size: 1.6rem; line-height: 1; letter-spacing: .08rem; }
h5 { font-size: 12px; font-size: 1.2rem; line-height: 1;  letter-spacing: .05rem; }
h6 { font-size: 10px; font-size: 1rem; line-height: 1;  letter-spacing: 0; }




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */