
html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 16px; font-size: 1.6rem;
	letter-spacing: 0.07em;
	line-height: 1.5;
	font-weight: 400;
	font-family: "adobe-caslon-pro", "proxima-nova", Arial, sans-serif;
	background-color: #fff;
	/*background: url(/images/bkgrnd.png);*/
}

::-moz-selection {
    background: #ea8a31;
    text-shadow: none;
}

::selection {
    background: #ea8a31;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===================
    ALL: 
   =================== */

.page-wrapper {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}

.page-header {
}

.container {
	position: relative;
	padding: 0 30px;
	box-sizing: border-box;
	}

.article {
	padding: 40px 0px;
}

.article img{
	max-width: 100%;
	padding-bottom: 20px;
}

.supplement {
	position: relative;
}

.supplement:before,
.supplement:after {
    border-top: 2px solid #ac6749;
    content: "";
    display: inline-block;
    height: .1em;
    position: relative;
    vertical-align: middle;
    width: 100%;
    margin-bottom: .15em;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.content-wrapper {
	background-color: #fffcf2;
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.15);
			box-shadow: 0 0 40px rgba(0,0,0,0.15);
} 

.content-wrapper img {
	height: auto;
	max-width: 100%;
	width: auto;
}

.site-nav__bottom {
	background-color: #97411B; /* Cherrywood */	
}

.site-nav__home {
	text-align: center;
}

.site-logo {
	background: url(/images/logoh.svg) no-repeat;
	max-width: 300px;
	width: 90%;
	height: 23.485px;
	margin: 50px auto;
}

.address-hours {
	font-size: 12px; font-size: 1.2rem;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

.address-hours__list {
	list-style: none;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	vertical-align: top;
}

.address-hours__item {
	vertical-align: top;
	padding: 0 10px;
	color: #ac6749;  /* medium cherrywood */
}

.copy {
	background-color: #fffcf2;
	background: url(/images/bkgrnd.png);
	padding-top: 40px;
	padding-bottom: 20px;
}

.details{
	text-align: center;
}

.copyright {
	background-color: #97411B; /* Cherrywood */	
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-size: 12px; font-size: 1.2rem;
	padding-top: 10px;
}

.title {
    color: white;
}

.site-nav__list.bottom {
	position: relative;
	font-family: proxima-nova; 
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}


/* ==============
    Navigation
   ============== */

.site-nav {
	position: relative;
	margin: 0 auto;
	background-color: #97411B; /* Cherrywood */
	text-align: center;
}

nav ul {
	font-family: proxima-nova; 
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	vertical-align: top;
}

.site-nav__item {
	vertical-align: top;
	font-size: 12px; font-size: .7em;
	text-align: center;
	border-top: 1px solid #fffcf2;
}

.site-nav__item--social {
	vertical-align: top;
	padding:0;
}

.connect {
	font-size: 12px; font-size: .8em;
	line-height: 24px;
	display: inline-block;
}

.connect  li {
	display: inline-block;
}

.connect li:first-child{
	border-top: none;
}

.site-nav__item a, .site-nav__item a:visited{
	color: #fff;
	display: block;
	padding: 10px 16px;
}

.site-nav__item a:hover{
	background-color: #b67a5f;  /* pale cherrywood */
	color: #fffcf2; /* pale ivory */
}

.site-nav__social {
	margin-top: 44%;
}

.second-level__header {
	background-color: #fffcf2;
}

.second-level__list {
	display: inline-block;
	padding-left: 20px;
}

.second-level__item{
	float: left;
}

.second-level__item a, .second-level__item a:visited {
	color: #97411B; /* Cherrywood */
	padding: 10px 6px;
}

.second-level__item a:hover{
	color: #b67a5f;  /* pale cherrywood */
	background-color: #fffcf2;  /* pale cherrywood */
}

.map-canvas {
	position: relative;
	height: 260px;
	margin-top: 12px;
	background: url(/images/map.png) center center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	border-top: 2px solid #EAA940; /* Burnt */
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	.map-canvas {
		background: url(/images/map@2x.png) center center no-repeat;
		background-size: 600px 260px;
	}

}

.marker{
	position: absolute;
	height: 48px;
	width: 48px;
	background: url('/images/marker.png') top left no-repeat;
	background-size: 48px 48px;
	left: 43%;
	top: 39%;
}

.slideshow {
	background-color: #ac6749; /* medium cherrywood */
	position: relative;
	margin-bottom: 6em;
}

.slideshow__image {
	background-color: #97411B;
	position: relative;
	background-size: cover;	
	background-position: top center;
	height: 450px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset;
}

.slideshow__image:after{
	content: "";
	position: absolute;
	background-color: rgba(151, 65, 27, 0.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}

.slideshow__caption-box {
	border-top: 20px solid #ac6749;  /* medium cherrywood */
	border-bottom: 20px solid #ac6749;  /* medium cherrywood */
	background: url('/images/pattern.png') repeat,
				#ac6749; /* medium cherrywood */
	padding: 20px 20px;
	position: relative;
}

.slideshow__title {
	position: relative;
	color: #fff;
	margin-top: 1em;
	margin-bottom: 0;
	line-height: 1.2em;
}

	.slideshow__title:after {
		content: "";
		border-bottom: 2px solid #EAA940;
		position: absolute;
		width: 100%;
		bottom: -10px;
		left: 0;
	}

.slideshow__copy {
	padding: 0;
	color: #fff;
	vertical-align: bottom;
}

.history__box {
	position: relative;
	text-align: center;
}

.history__image {
	height: 300px;
}

.milkbottle {
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	opacity: 0.25;
}

.history__title {
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	padding: 10px 0px;
	display: inline-block;
	border-top: 2px solid #ac6749;
	border-bottom: 2px solid #ac6749;
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
}

.history__title h1 {
	margin: 0;
}

.image-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 3em;
	text-align: center;
	height: 320px;
}

.image-nav__item {
    font-family: proxima-nova; 
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;	
	font-size: 24px; font-size: 1.8em;
	font-weight: bold;
	width:33.33334%;
    height:340px;
	background-position: center center;
	background-repeat:  no-repeat;
	background-size: cover;
	display: inline-block;
	position: relative;
	float: left;
}

.image-nav__item a, .image-nav__item a:visited {
	display: block;
	padding-top: 220px; /* Calculate height of container. Subtract line-height. Add remainder to bottom */
	padding-bottom: 88px;
	vertical-align: bottom;
	line-height: 32px;
	background: rgba(151,65,27,0.6);
	color: #fff;
	text-shadow: 1px 1px 1px 3px #000;
}

.image-nav__item img {
    width:100%;
    vertical-align:top;
}

.image-nav__item a:hover {
	color: #fffcf2;
	background: rgba(151,65,27,0.1);
	transition: all 0.5s;
		-webkit-transition: all 0.5s;
	
}

.circles__images {
	display: inline-block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	float: left;
}

.circles__images:after {
	position: absolute;
	content: "";
	background-color: rgba(151,65,27,0.3);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 1s;
		-webkit-transition: all 1s;
}

.circles__images:hover:after {
	opacity: 1;
	border: 5px solid black;
}

.circles__images-link {
	content: "";
	background-color: rgba(151,65,27,0.3);
	border: 5px solid black;
	border-radius: 50%;
}

.circles__images img {
	max-width: 100%;
	vertical-align: top;
}

.circle-offset {
	margin: 0;
}

.history__summary {
	padding: 2em 0;
}

.details__box-center {
		border-top: 2px solid #97411B; /* Cherrywood */
		border-bottom: 2px solid #97411B; /* Cherrywood */
		padding: 1em 0;
		margin: 1em 0;
	}

.ie7 .title {
padding-top: 20px;
}


/* ====================
   $Links
   ==================== */


a, a:visited  {
  color: #830B14;
  text-decoration: none;
  }
	
a:hover {
  color: #830B14;
  }


 
/* ====================
   Media Queries
   ==================== */
  


/* ========================================================================
    $480 Small Screen & Landscape
   ======================================================================== */
 @media only screen and (min-width: 480px) {
 
	.site-logo {
		background: url(/images/logoh@2x.svg) no-repeat;
		max-width: 600px;
		height: 93px;
		margin: 44px auto;
	}
 
	.site-nav__list {
		display: inline-block;
	}
	
	.second-level__list {
		padding-left: 2%;
	}
	
	.site-nav__item {
		float: left;
		font-size: 16px; font-size: 1em;
		border: none;
	}
	
	.second-level__item {
		font-size: 14px; font-size: .8em;
	}
	
	.bottom {
	  background-color: #97411B;
	  text-align: left;
	}
  
	.connect {
		margin: 0 4em;
	}
	
}



/* ========================================================================
    $620 Small Screen & Landscape
   ======================================================================== */
@media only screen and (min-width: 620px) {
     
	.site-nav {
		text-align: left;
	}
	
	.connect {
		display: inline-block;
		float: right;
		margin-right: 10px;
	}
		
	.connect img {
		height: 18px;
		padding-left: 10px;
		display: inline-block;
	}

	.map-canvas {
		border-left: 2px solid #EAA940; /* Burnt */
	}
	
	.contact-address {
		margin-left: 0%;
	}
	
	.slideshow__title {
		position: relative;
		float: left;
		width: 32%;
		margin-top: 1em;
		margin-bottom: 0;
		text-align: right;
		padding-right: 2%;
	}

		.slideshow__title:after {
			content: "";
			border: none; /* Reset */
			border-right: 2px solid #EAA940;
			height: 120%;
			top: -10%;
			right: 0;
		}

	.slideshow__copy {
		float: left;
		vertical-align: bottom;
		margin: 0 0 0 2%;
		width: 60%;
	}
	
	.history__image {
		position: relative;
		background: url('/images/from-to.jpg') center center no-repeat;
		background-size: cover;
		height: 300px;
		margin: 10px;
	}

	.history__image:after {
		content: '';
		position: absolute;
		border: 2px solid #ac6749;
		left: -10px;
		right: -10px;
		bottom: -10px;
		top: -10px;
	}
	
	.milkbottle {
		opacity: 1;
	}
	
	.history__title {
		position:relative;
		margin: 0 2em 1em 2em; /* Reset */
	}
	
	.circles__images {
		margin: 0;
		padding: 0;
		width: 33.3334%;
		box-sizing: border-box;
		display: inline-block;
		float: left;
	}
	
		.details{
		padding-bottom: 2em;
	}
	
    .oldie nav a {
        margin: 0 0.7%;
    }
	
	.copyright {
		text-align: left;
	}

	.footer-logo {
		float: right
	}
	
	.map-canvas {
		margin-top: 0px; /* Reset */
		border-top: none;
	}
	
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 

		.map-canvas {
			background: url(/images/map@2x.png) center center no-repeat;
			background-size: 600px 260px;
		}

	}
	
}

/* ========================================================================
    $768 Large Screen
   ======================================================================== */
@media only screen and (min-width: 768px) {



		@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 

		.map-canvas {
			background: url(/images/map@2x.png) center center no-repeat;
			background-size: 600px 260px;
		}
	}
	
	body {
		font-size: 16px; font-size: 1.6rem;
	}
	

	
	.column,
	.columns {
		margin-left: 2%;
	}
	
	.column:first-child,
	.columns:first-child {
		margin-left: 0;
	}

	.one.column			{ width: 15%; }
	.two.columns		{ width: 32%; }
	.three.columns		{ width: 49%; }
	.four.columns		{ width: 66%; }
	.five.columns		{ width: 83%; }
	.six.columns		{ width: 100%; margin-left: 0; }

	.one-third.column	{ width: 32%; }
	.two-thirds.column	{ width: 66%; }
	.one-half.column	{ width: 49%; }

	/* Offsets */
	.offset-by-one.column,
	.offset-by-one.columns	{ margin-left: 17%; }
	
	.offset-by-two.column,
	.offset-by-two.columns         { margin-left: 34%; }
	
	.offset-by-three.column,
	.offset-by-three.columns          { margin-left: 51%; }
	
	.offset-by-four.column,
	.offset-by-four.columns        { margin-left: 67%; }
	
	.offset-by-five.column,
	.offset-by-five.columns          { margin-left: 85%; }

	.offset-by-one-third.column,
	.offset-by-one-third.columns    { margin-left: 34%; }
	
	.offset-by-two-thirds.column,
	.offset-by-two-thirds.columns   { margin-left: 67%; }

	.offset-by-one-half.column,
	.offset-by-one-half.columns     { margin-left: 51%; }
	
	
	.address-hours__list {
		display: inline-block;
	}
	
	.address-hours__item {
		float: left;
	}
	
	.address-hours__item:first-child{
		border-right: 2px solid #ac6749;
	}
	
	.connect {
		float: right;
		margin-left: 0;
	}
	

	.circles__list {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.circle-offset {
		margin-left: 30%;
	}
	
	.details__box-center {
		border: none; /* Reset */
		border-left: 2px solid #97411B; /* Cherrywood */
		border-right: 2px solid #97411B; /* Cherrywood */
		margin: 0;
		padding: 0;
	}
	
	.bottom-nav{
		text-align: left;
	}
		
/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */


}

@media only screen and (min-width: 960px) {

/* ===============
    Maximal Width
   =============== */
	
	.page-background {
		background: transparent url('/images/radials.png') center 330px no-repeat;
		background-size: 1252px 600px;
		background-attachment: scroll;
		position: fixed;		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
  
   	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) { 

		.map-canvas {
			background: url(/images/map@2x.png) center center no-repeat;
			background-size: 600px 260px;
		}

	}
   
   
}

/* ==========================================================================
   Type
   ========================================================================== */


p {
font-family: "adobe-caslon-pro";
margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
  letter-spacing: 0.2em;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #97411B; /* Orange */
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0px;
}

h1 { font-size: 40px; font-size: 4.0rem; line-height: 1.1;  letter-spacing: -.1rem;}
h2 { font-size: 26px; font-size: 2.6rem; line-height: 1; letter-spacing: .1rem; }
h3 { font-size: 20px; font-size: 2.0rem; line-height: 1;  letter-spacing: .1rem; }
h4 { font-size: 16px; font-size: 1.6rem; line-height: 1; letter-spacing: .08rem; }
h5 { font-size: 12px; font-size: 1.2rem; line-height: 1;  letter-spacing: .05rem; }
h6 { font-size: 10px; font-size: 1rem; line-height: 1;  letter-spacing: 0; }

ul {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 14px; font-size: 1.4rem;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #EAA940;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }



/* ==========================================================================
   Helper classes
   ========================================================================== */

.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
   
   
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.uppercase {
	text-transform: uppercase;
}

/* ==========================================================================
   Webicons by Adam Fairhead at Fairhead Creative http://fairheadcreative.com
   ========================================================================= */

.webicon {
	margin: 10px 4px;
}

.webicon:hover > .webicon__backgrnd {
	fill: #b67a5f;
}

.webicon.medium {
  width: 30px;
  height: 30px;
  padding: 0;
  }

.no-svg .webicon.facebook {
  background: url("../images/webicons/webicon-facebook-m.png"); }

.no-svg .webicon.facebook.large {
  background: url("../images/webicons/webicon-facebook.png"); }

.no-svg .webicon.facebook.small {
  background: url("../images/webicons/webicon-facebook-s.png"); }

.svg .webicon.facebook {
  background: url("../images/webicons/webicon-facebook.svg"); }
  
.no-svg .webicon.twitter {
  background: url("../images/webicons/webicon-twitter-m.png"); }

.no-svg .webicon.twitter.large {
  background: url("../images/webicons/webicon-twitter.png"); }

.no-svg .webicon.twitter.small {
  background: url("../images/webicons/webicon-twitter-s.png"); }

.svg .webicon.twitter {
  background: url("../images/webicons/webicon-twitter.svg"); }




/* ==========================================================================
   Print styles
   ========================================================================= */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

	/* restore webicons accessibility for print */

	.webicon {
		text-indent: 0;
		width: auto !important;
		height: auto !important;
		-moz-border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	
}
